.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: rgb(129, 129, 129);
  border-radius: 4px;
  color: white;
  text-align: center;
}

.btn:hover {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: rgb(146, 146, 146);
  border-radius: 4px;
  color: white;
  text-align: center;
}

.links{
  
  width: 60px;
  padding: 5px 0;
  color: #333;
  text-align: center;
}
.linksninja{
  
  width: 100px;
  padding: 5px 0;
  color: #333;
  text-align: center;
}

.links:hover {
  
  width: 60px;
  padding: 5px 0;
  background: rgb(199, 199, 199);
  border-radius: 4px;
  color: #333;
  text-align: center;
}

.linksninja:hover {
  
  width: 100px;
  padding: 5px 0;
  background: rgb(199, 199, 199);
  border-radius: 4px;
  color: #333;
  text-align: center;
}